/*---------VArs--------*/
/*---------VArs--------*/
$shadow: 0 2px 8px #f0f1f2;
$sideBarSize: 250px;
$sideBarSize2: 115px;
$headerSize: 80px;
$Scolor: #ff9933;
$bg: #f3f3f3;
$txt: #fbb707;
$Pcolor: #1c1b1b;
$red: #FFC7AA;
$green: #22ca14;
$yellow: #fbb707;
